## How to read the random rows from our data.

In [6]:
# import library
import pandas as pd

In [7]:
# read file
df = pd.read_csv(r"C:\Users\miree\OneDrive\Desktop\diploma AI\AI Course Material\Material\Pandas\4_read_write_to_excel\stock_data.csv")

df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [9]:
rndm_select = df.sample(2)
rndm_select

  tickers    eps  revenue price      people
2    MSFT     -1       85    64  bill gates
0   GOOGL  27.82       87   845  larry page