## How to detect and remove outliers using pandas.

In [9]:
import pandas as pd
from scipy.stats import zscore
import numpy as np

In [4]:
csv_file_path = r"C:\Users\miree\OneDrive\Desktop\diploma AI\AI Course Material\Material\Pandas\14_ts_datetimeindex\aapl.csv"

In [5]:
df = pd.read_csv(csv_file_path)
df

          Date    Open    High     Low   Close    Volume
0     7-Jul-17  142.90  144.75  142.90  144.18  19201712
1     6-Jul-17  143.02  143.50  142.41  142.73  24128782
2     5-Jul-17  143.69  144.79  142.72  144.09  21569557
3     3-Jul-17  144.88  145.30  143.10  143.50  14277848
4    30-Jun-17  144.45  144.96  143.78  144.02  23024107
..         ...     ...     ...     ...     ...       ...
246  15-Jul-16   98.92   99.30   98.50   98.78  30136990
247  14-Jul-16   97.39   98.99   97.32   98.79  38918997
248  13-Jul-16   97.41   97.67   96.84   96.87  25892171
249  12-Jul-16   97.17   97.70   97.12   97.42  24167463
250  11-Jul-16   96.75   97.65   96.73   96.98  23794945

[251 rows x 6 columns]

In [19]:
df.shape

(251, 6)

In [34]:
import pandas as pd
from scipy.stats import zscore

# Assuming your DataFrame is named 'df'
# Replace 'Volume' with the column where you want to detect and remove outliers
# Calculate Z-scores for the 'Volume' column
z_scores = zscore(df['Volume'])

# Define a threshold for Z-scores (e.g., 3 or -3 for a significant outlier)
# Create a mask to identify outliers
outlier= abs(z_scores) > 3

# Remove outliers from the DataFrame
df_no_outliers = df[~outlier]

          Date    Open    High     Low   Close    Volume  z_scores   z_score
0     7-Jul-17  142.90  144.75  142.90  144.18  19201712 -0.798435  1.087440
1     6-Jul-17  143.02  143.50  142.41  142.73  24128782 -0.450117  1.003086
2     5-Jul-17  143.69  144.79  142.72  144.09  21569557 -0.631041  1.082204
3     3-Jul-17  144.88  145.30  143.10  143.50  14277848 -1.146527  1.047881
4    30-Jun-17  144.45  144.96  143.78  144.02  23024107 -0.528212  1.078132
..         ...     ...     ...     ...     ...       ...       ...       ...
246  15-Jul-16   98.92   99.30   98.50   98.78  30136990 -0.025368 -1.553713
247  14-Jul-16   97.39   98.99   97.32   98.79  38918997  0.595475 -1.553131
248  13-Jul-16   97.41   97.67   96.84   96.87  25892171 -0.325455 -1.664828
249  12-Jul-16   97.17   97.70   97.12   97.42  24167463 -0.447382 -1.632831
250  11-Jul-16   96.75   97.65   96.73   96.98  23794945 -0.473718 -1.658428

[246 rows x 8 columns]